<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Nour el yakine</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="hotels" class="nav-link">Hotels</a>
      </li>
      <li class="nav-item">
        <a routerLink="addHotel" class="nav-link">Add Hotel</a>
      </li>
      <li class="nav-item">
        <a routerLink="notifications" class="nav-link">Notifications</a>
      </li>
      <li class="nav-item">
        <a routerLink="addNotification" class="nav-link">Add Notification</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
